## Handling Imbalanced Dataset

##### 1.Up Sampling
##### 2.Down Sampling

In [20]:
import numpy as np
import pandas as pd

In [21]:
# Set the Random seed for reproducbility
np.random.seed(123)

# Create dataframe with two classes
n_sample=1000
class_0_ratio=0.9
n_class_0=int(n_sample*class_0_ratio) # 900 data point
n_class_1=n_sample-n_class_0 # 100 data point

In [22]:
n_class_0,n_class_1

(900, 100)

In [23]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0=pd.DataFrame({
  'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
  'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
  'target':[0]*n_class_0
})

class_1=pd.DataFrame({
  'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
  'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
  'target':[1]*n_class_1
})

In [24]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [25]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [26]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [27]:
 ## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [28]:
from sklearn.utils import resample
df_minority_update=resample(df_minority,replace=True,#sample with replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [29]:
df_minority_update.shape

(900, 3)

In [30]:
df_minority_update.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [31]:
df_upsampled=pd.concat([df_majority,df_minority_update])

In [32]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [33]:
## Down Sampling...
## CREATE MY DATAFRAME WITH IMBALANCED DATASET

class_0=pd.DataFrame({
  'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
  'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
  'target':[0]*n_class_0
})

class_1=pd.DataFrame({
  'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
  'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
  'target':[1]*n_class_1
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [34]:
## Down Sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [35]:
from sklearn.utils import resample
df_majority_update=resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=42
        )

In [36]:
df_majority_update.shape

(100, 3)

In [37]:
df_downsampled=pd.concat([df_majority_update,df_minority])

In [38]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64